.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid black;
}

.profile__value {
    margin: 10px;
}

.profile__edit-button {
    margin-top: 10px;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*Стили для плавного появления модалки*/
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: visibility 0s, opacity 0.6s;
  z-index: 10;
}

.popup_is-opened {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}

.popup__content {
    max-width: 430px;
    width: 100%;
    min-height: 330px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    padding: 34px 36px;
}
  
.popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.popup__input {
    width: 100%;
}

.popup__button {
    margin-top: 40px;
    padding: 10px;
    width: 100%;
}

.popup__label {
    margin-top: 20px;
    display: block;
}